body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-display-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 400px;
  background-image: linear-gradient(
    to right,
    #3ab5b0 0%,
    #3d99be 31%,
    #56317a 100%
  );
  border-radius: 20px;
  box-shadow: 2px 7px 10px 1px #ba9bb7b7;
}

#color-display {
  text-align: center;
  color: beige;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
